



<ngb-alert class="alert alert-info" role="alert" *ngIf="massage">{{ massage }}</ngb-alert>


<div class="container-fluid p-5">

    <form #f="ngForm" (submit)="change(f)" >
        <div class="input-group mb-3">
        <input [type]="passwordshow? 'text' : 'password'" class="form-control" placeholder="Enter password" name="password" #password="ngModel" ngModel />
        <span (click)="passwordeye()"class="input-group-text">ss</span>
    </div>
    <button class="btn btn-primary float-end col-2">Post</button>
    </form>



</div>
