<app-profile></app-profile>
<div class="container-fluid row bordershoadow p-4 ">

<div class="col-8 mb-2 " >change your name </div><button class="btn btn-secondary float-end col-sm-2 mb-2 " routerLink="../chaneName">Change</button>
<div class="col-8 mb-2 ">change your password</div> <button class="btn btn-secondary float-end col-sm-2 mb-2" routerLink="../changePassword">Change</button>
<div class="col-8 mb-2 ">change your address</div> <button class="btn btn-secondary float-end col-sm-2 mb-2" routerLink="../changeaddress">Change</button>
<div class="col-8 mb-2 ">change your profile photo</div> <button class="btn btn-secondary float-end col-sm-2 mb-2" routerLink="../updateprofile">Change</button>
<div class="col-8 mb-2 ">Dark Mode</div> <button class="btn btn-secondary float-end col-sm-2 mb-2" (click)="darkmode()">Change</button>

</div>




