

<app-profile></app-profile>
<div class="alert alert-info" role="alert" *ngIf="message">{{ message }}</div>

<div *ngIf="!products" class="text-center border bg-warning">please add post for your products</div>
<div class="container-fluid row center">
<button routerLink="../addproduct" class="btn btn-primary  col-4 float-end ">Add Porduct</button>
</div>
<div class="container-fluid mt-5  ">

    <div *ngFor="let product of products">

        <div class="bordershoadow post-wall my-4 px-4 row">

            <div class="product-image text-center justify-contect-center col-12 col-md-5" *ngIf="product.post_img">
                <img [src]="imageurl+product.post_img[0]">
            </div>



            <div class="col-12 col-md-7" >

            <div class="product-menu float-end mt-2 ">
                <div ngbDropdown class="nav-item">

                    <button ngbDropdownToggle class="btn nav-link"><fa-icon [icon]="FaList" ></fa-icon> </button>
                    <div ngbDropdownMenu>
                      <li><a ngbDropdownItem  (click)="show( product.id,product.price_original,content)">Change Price</a></li>
                      <li><a ngbDropdownItem (click)="deletepost(product.id)">deletepost</a></li>

                    </div>

                  </div>
            </div>




                <h4 [routerLink]="'../product/'+product.id">{{ product.name }}</h4>
                <p>{{ product.post_text }}</p>
                <p>{{ product.date }}</p>
                <p class="mb-1">shop {{ product.owner.name }}</p>

            </div>
            <!-- <div class="product-menu  col-12 col-md-4">
                <div ngbDropdown class="nav-item">

                    <button ngbDropdownToggle class="btn nav-link"><fa-icon [icon]="FaList" ></fa-icon> </button>
                    <div ngbDropdownMenu>
                      <li><a ngbDropdownItem  (click)="show( product.id,product.price_original,content)">Change Price</a></li>
                      <li><a ngbDropdownItem (click)="deletepost(product.id)">deletepost</a></li>

                    </div>

                  </div>
            </div> -->
        </div>
    </div>

</div>




<ng-template #content let-modal class="my-bg-light">
	<div class="modal-header my-bg-light">
		<h4 class="modal-title " id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close mytext-dark" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body my-bg-light">

    <form #f="ngForm" (ngSubmit)="send(f)">
        <input type="number" hidden class="form-control mb-5" [ngModel]="pro_id" name="product_id" #product_id="ngModel" ngModel>
        <input type="number" [ngModel]="pro_price_original" class="form-control mb-5" name="price_original" #price_original="ngModel" placeholder="Enter product price original" ngModel>
        <input type="number" class="form-control mb-5" name="price_discount" #price_discount="ngModel" placeholder="Enter product price discount" ngModel>
        <input type="number" class="form-control mb-5" name="percent_discount" #percent_discount="ngModel" placeholder="Enter product price percent of discount" ngModel>
        <button class="btn btn-primary float-end col-2  mb-5">add</button>


    </form>

	</div>
</ng-template>

<hr />

<pre>{{ closeResult }}</pre>


